# SARA

In [51]:
# import dependencies
import requests
import json
import pandas as pd

# Import Bureau of Labor Statistics API Key
from api_keys import census_api_key

# Replace 'YOUR_API_KEY' with your actual census API key
API_KEY = census_api_key
state = 'state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56'
employment_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B23025)&for={state}&key={census_api_key}'
education_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B15003)&for={state}&key={census_api_key}'
income_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B19001)&for={state}&key={census_api_key}'
family_size_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B11001)&for={state}&key={census_api_key}'

print(f'Employment Status: {employment_url}\n')
print(f'Educational Attainment: {education_url}\n')
print(f'Income URL: {income_url}\n')
print(f'Family Size URL: {family_size_url}\n')


employment_json = requests.get(employment_url).json()
education_json = requests.get(education_url).json()
income_json = requests.get(income_url).json()
family_size_json = requests.get(family_size_url).json()

Employment Status: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B23025)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=7777ffa764c28bf2199fbc37bc1a516b6a535250

Educational Attainment: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B15003)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=7777ffa764c28bf2199fbc37bc1a516b6a535250

Income URL: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B19001)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=7777ffa764c28bf2199fbc37bc1a516b6a535250

Family Size URL: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B11001)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=7777ffa764c28bf2199fbc37bc1a516b6a535250

In [55]:
employment_df = pd.DataFrame(requests.get(employment_url).json()[1:], columns=requests.get(employment_url).json()[0])

employment_df_cleaned = employment_df.rename(columns={
    'B23025_001E': 'Employment Eligible Persons 16 and over',
    'B23025_002E': 'Total Persons in Labor Force',
    'B23025_003E': 'Persons in Civilian Labor Force',
    'B23025_004E': 'Employed Persons in Civilian Labor Force',
    'B23025_005E': 'Persons in Armed Forces',
    'B23025_006E': 'Unemployed Persons in Civilian Labor Force',
    'B23025_007E': 'Not in Workforce'
})

employment_df_final = employment_df_cleaned[[
    'NAME',
    'GEO_ID',
    'state',
    'Employment Eligible Persons 16 and over',
    'Total Persons in Labor Force',
    'Persons in Civilian Labor Force',
    'Employed Persons in Civilian Labor Force',
    'Persons in Armed Forces',
    'Unemployed Persons in Civilian Labor Force',
    'Not in Workforce'
]]

employment_df_final

#elizabeth to remove one of the NAME columns

,NAME,NAME,GEO_ID,state,Employment Eligible Persons 16 and over,Total Persons in Labor Force,Persons in Civilian Labor Force,Employed Persons in Civilian Labor Force,Persons in Armed Forces,Unemployed Persons in Civilian Labor Force,Not in Workforce
0,Alabama,Alabama,0400000US01,01,4093740,2398213,2381733,2278494,103239,16480,1695527
1,Alaska,Alaska,0400000US02,02,575934,386093,361685,345201,16484,24408,189841
2,Arizona,Arizona,0400000US04,04,5961733,3619698,3595613,3441676,153937,24085,2342035
3,Arkansas,Arkansas,0400000US05,05,2430600,1404190,1397919,1335560,62359,6271,1026410
4,California,California,0400000US06,06,31552708,20174168,20003799,18942977,1060822,170369,11378540
5,Colorado,Colorado,0400000US08,08,4776317,3288975,3244388,3131144,113244,44587,1487342
6,Connecticut,Connecticut,0400000US09,09,2986455,1961345,1954099,1861502,92597,7246,1025110
7,Delaware,Delaware,0400000US10,10,835365,524136,520993,498721,22272,3143,311229
8,District of Columbia,District of Columbia,0400000US11,11,557547,400108,395081,374882,20199,5027,157439
9,Florida,Florida,0400000US12,12,18459053,11005548,10924091,10489216,434875,81457,7453505
10,Georgia,Georgia,0400000US13,13,8708310,5562669,5502894,5273176,229718,59775,3145641
11,Hawaii,Hawaii,0400000US15,15,1175667,746185,699927,674532,25395,46258,429482
12,Idaho,Idaho,0400000US16,16,1530729,955160,949350,921141,28209,5810,575569
13,Illinois,Illinois,0400000US17,17,10199598,6628754,6608621,6293807,314814,20133,3570844
14,Indiana,Indiana,0400000US18,18,5456066,3484005,3479919,3355406,124513,4086,1972061
15,Iowa,Iowa,0400000US19,19,2570925,1712981,1708988,1658607,50381,3993,857944
16,Kansas,Kansas,0400000US20,20,2330842,1531077,1511335,1456502,54833,19742,799765
17,Kentucky,Kentucky,0400000US21,21,3626511,2170852,2154704,2061238,93466,16148,1455659
18,Louisiana,Louisiana,0400000US22,22,3656541,2173507,2155084,2038340,116744,18423,1483034
19,Maine,Maine,0400000US23,23,1170061,722044,719995,696402,23593,2049,448017
20,Maryland,Maryland,0400000US24,24,4974349,3332616,3299405,3168418,130987,33211,1641733
21,Massachusetts,Massachusetts,0400000US25,25,5805465,3878044,3872969,3714823,158146,5075,1927421
22,Michigan,Michigan,0400000US26,26,8179427,5039051,5034322,4800228,234094,4729,3140376
23,Minnesota,Minnesota,0400000US27,27,4579443,3111888,3108458,3008627,99831,3430,1467555
24,Mississippi,Mississippi,0400000US28,28,2341292,1337386,1322376,1257562,64814,15010,1003906
25,Missouri,Missouri,0400000US29,29,4974792,3126129,3103274,2987867,115407,22855,1848663
26,Montana,Montana,0400000US30,30,916289,581891,577037,559604,17433,4854,334398
27,Nebraska,Nebraska,0400000US31,31,1547790,1056773,1049579,1025109,24470,7194,491017
28,Nevada,Nevada,0400000US32,32,2572023,1628015,1613389,1524894,88495,14626,944008
29,New Hampshire,New Hampshire,0400000US33,33,1177400,774998,773372,753730,19642,1626,402402
30,New Jersey,New Jersey,0400000US34,34,7510983,4971726,4957313,4707790,249523,14413,2539257
31,New Mexico,New Mexico,0400000US35,35,1710459,1000712,984151,937027,47124,16561,709747
32,New York,New York,0400000US36,36,16154241,10145004,10117576,9600338,517238,27428,6009237
33,North Carolina,North Carolina,0400000US37,37,8671939,5447108,5335954,5135307,200647,111154,3224831
34,North Dakota,North Dakota,0400000US38,38,617710,424113,417556,408563,8993,6557,193597
35,Ohio,Ohio,0400000US39,39,9506533,5999325,5984422,5762007,222415,14903,3507208
36,Oklahoma,Oklahoma,0400000US40,40,3178852,1940528,1916016,1836305,79711,24512,1238324
37,Oregon,Oregon,0400000US41,41,3509464,2191659,2188501,2095363,93138,3158,1317805
38,Pennsylvania,Pennsylvania,0400000US42,42,10660341,6698469,6689958,6402242,287716,8511,3961872
39,Rhode Island,Rhode Island,0400000US44,44,916019,591365,587236,560568,26668,4129,324654
40,South Carolina,South Carolina,0400000US45,45,4294594,2607685,2565719,2454047,111672,41966,1686909
41,South Dakota,South Dakota,0400000US46,46,716965,479744,474292,460983,13309,5452,237221
42,Tennessee,Tennessee,0400000US47,47,5699603,3558019,3534983,3413460,121523,23036,2141584
43,Texas,Texas,0400000US48,48,23471441,15376318,15249347,14578433,670914,126971,8095123
44,Utah,Utah,0400000US49,49,2560844,1791947,1783862,1735854,48008,8085,768897
45,Vermont,Vermont,0400000US50,50,548050,356111,354414,344401,10013,1697,191939
46,Virginia,Virginia,0400000US51,51,7041278,4600045,4459666,4298561,161105,140379,2441233
47,Washington,Washington,0400000US53,53,6328051,4095487,4029420,3865941,163479,66067,2232564
48,West Virginia,West Virginia,0400000US54,54,1466266,774750,772226,735644,36582,2524,691516
49,Wisconsin,Wisconsin,0400000US55,55,4802830,3127697,3123424,3036963,86461,4273,1675133
50,Wyoming,Wyoming,0400000US56,56,465883,306456,302447,291038,11409,4009,159427

In [ ]:
education_df = pd.DataFrame(requests.get(education_url).json()[1:], columns=requests.get(education_url).json()[0])

In [ ]:
income_df = pd.DataFrame(requests.get(income_url).json()[1:], columns=requests.get(income_url).json()[0])

In [ ]:
family_size_df = pd.DataFrame(requests.get(family_size_url).json()[1:], columns=requests.get(family_size_url).json()[0])