# KIKI

In [1]:
# import dependencies
import requests
import json
import pandas as pd

# Import Bureau of Labor Statistics API Key
from api_keys import census_api_key

# Replace 'YOUR_API_KEY' with your actual census API key
API_KEY = census_api_key
state = 'state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56'
employment_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B23025)&for={state}&key={census_api_key}'
education_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B15003)&for={state}&key={census_api_key}'
income_2022_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B19013)&for={state}&key={census_api_key}'
income_2021_url = f'https://api.census.gov/data/2021/acs/acs1?get=NAME,group(B19013)&for={state}&key={census_api_key}'
income_2019_url = f'https://api.census.gov/data/2019/acs/acs1?get=NAME,group(B19013)&for={state}&key={census_api_key}'
income_2018_url = f'https://api.census.gov/data/2018/acs/acs1?get=NAME,group(B19013)&for={state}&key={census_api_key}'
income_2017_url = f'https://api.census.gov/data/2017/acs/acs1?get=NAME,group(B19013)&for={state}&key={census_api_key}'
family_size_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B11001)&for={state}&key={census_api_key}'

print(f'Employment Status: {employment_url}\n')
print(f'Educational Attainment: {education_url}\n')
print(f'2022 Census Income URL: {income_2022_url}\n')
print(f'2021 Census Income URL: {income_2021_url}\n')
print(f'2019 Census Income URL: {income_2019_url}\n')
print(f'2018 Census Income URL: {income_2018_url}\n')
print(f'2017 Census Income URL: {income_2017_url}\n')
print(f'Family Size URL: {family_size_url}\n')

employment_json = requests.get(employment_url).json()
education_json = requests.get(education_url).json()
family_size_json = requests.get(family_size_url).json()

Employment Status: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B23025)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

Educational Attainment: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B15003)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

2022 Census Income URL: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B19013)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

2021 Census Income URL: https://api.census.gov/data/2021/acs/acs1?get=NAME,group(B19013)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

2019 Census Income URL: https://api.census.gov/data/2019/acs/acs1?get=NAME,group(B19013)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

2018 Census Income URL: https://api.census.gov/data/2018/acs/acs1?get=NAME,group(B19013)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

2017 Census Income URL: https://api.census.gov/data/2017/acs/acs1?get=NAME,group(B19013)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

Family Size URL: https://api.census.gov/data/2022/acs/acs1?get=NAME,group(B11001)&for=state:01,02,04,05,06,08,09,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56&key=32d425d86bd974c0af9ec8431fb0cab816cbe005

In [ ]:
employment_df = pd.DataFrame(requests.get(employment_url).json()[1:], columns=requests.get(employment_url).json()[0])

employment_df_cleaned = employment_df.rename(columns={
    'B23025_001E': 'Employment Eligible Persons 16 and over',
    'B23025_002E': 'Total Persons in Labor Force',
    'B23025_003E': 'Persons in Civilian Labor Force',
    'B23025_004E': 'Employed Persons in Civilian Labor Force',
    'B23025_005E': 'Persons in Armed Forces',
    'B23025_006E': 'Unemployed Persons in Civilian Labor Force',
    'B23025_007E': 'Not in Workforce'
})

employment_df_final = employment_df_cleaned[[
    'NAME',
    'GEO_ID',
    'state',
    'Employment Eligible Persons 16 and over',
    'Total Persons in Labor Force',
    'Persons in Civilian Labor Force',
    'Employed Persons in Civilian Labor Force',
    'Persons in Armed Forces',
    'Unemployed Persons in Civilian Labor Force',
    'Not in Workforce'
]]

employment_df_final

#elizabeth to remove one of the NAME columns

In [3]:
education_df = pd.DataFrame(requests.get(education_url).json()[1:], columns=requests.get(education_url).json()[0])

In [11]:
income_2017_json = requests.get(income_2017_url).json()

income_2017_df = pd.DataFrame(requests.get(income_2017_url).json()[1:], columns=requests.get(income_2017_url).json()[0])

income_2017_df_cleaned = income_2017_df.rename(columns={
    'NAME': 'State',
    'GEO_ID': 'Geo ID',
    'state': 'State ID',
    'B19013_001E': 'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
})

income_2017_df_cleaned ['Year'] = 2017

income_2017_df_final = income_2017_df_cleaned[[
    'Year',
    'State',
    'Geo ID',
    'State ID',
    'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
]]

income_2017_df_final = income_2017_df_final.loc[:, ~income_2017_df_final.columns.duplicated()]

income_2017_df_final

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2017,Mississippi,0400000US28,28,43529
1,2017,Missouri,0400000US29,29,53578
2,2017,Montana,0400000US30,30,53386
3,2017,Nebraska,0400000US31,31,59970
4,2017,Nevada,0400000US32,32,58003
5,2017,New Hampshire,0400000US33,33,73381
6,2017,New Jersey,0400000US34,34,80088
7,2017,New Mexico,0400000US35,35,46744
8,2017,New York,0400000US36,36,64894
9,2017,North Carolina,0400000US37,37,52752
10,2017,North Dakota,0400000US38,38,61843
11,2017,Ohio,0400000US39,39,54021
12,2017,Oklahoma,0400000US40,40,50051
13,2017,Oregon,0400000US41,41,60212
14,2017,Pennsylvania,0400000US42,42,59195
15,2017,Rhode Island,0400000US44,44,63870
16,2017,South Carolina,0400000US45,45,50570
17,2017,South Dakota,0400000US46,46,56521
18,2017,Tennessee,0400000US47,47,51340
19,2017,Texas,0400000US48,48,59206
20,2017,Vermont,0400000US50,50,57513
21,2017,Utah,0400000US49,49,68358
22,2017,Virginia,0400000US51,51,71535
23,2017,Washington,0400000US53,53,70979
24,2017,West Virginia,0400000US54,54,43469
25,2017,Wisconsin,0400000US55,55,59305
26,2017,Wyoming,0400000US56,56,60434
27,2017,Alabama,0400000US01,01,48123
28,2017,Alaska,0400000US02,02,73181
29,2017,Arizona,0400000US04,04,56581
30,2017,Arkansas,0400000US05,05,45869
31,2017,California,0400000US06,06,71805
32,2017,Colorado,0400000US08,08,69117
33,2017,Delaware,0400000US10,10,62852
34,2017,District of Columbia,0400000US11,11,82372
35,2017,Connecticut,0400000US09,09,74168
36,2017,Florida,0400000US12,12,52594
37,2017,Georgia,0400000US13,13,56183
38,2017,Idaho,0400000US16,16,52225
39,2017,Hawaii,0400000US15,15,77765
40,2017,Illinois,0400000US17,17,62992
41,2017,Indiana,0400000US18,18,54181
42,2017,Iowa,0400000US19,19,58570
43,2017,Kansas,0400000US20,20,56422
44,2017,Kentucky,0400000US21,21,48375
45,2017,Louisiana,0400000US22,22,46145
46,2017,Maine,0400000US23,23,56277
47,2017,Maryland,0400000US24,24,80776
48,2017,Massachusetts,0400000US25,25,77385
49,2017,Michigan,0400000US26,26,54909
50,2017,Minnesota,0400000US27,27,68388

In [5]:
income_2018_json = requests.get(income_2018_url).json()

income_2018_df = pd.DataFrame(requests.get(income_2018_url).json()[1:], columns=requests.get(income_2018_url).json()[0])

income_2018_df_cleaned = income_2018_df.rename(columns={
    'NAME': 'State',
    'GEO_ID': 'Geo ID',
    'state': 'State ID',
    'B19013_001E': 'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
})

income_2018_df_cleaned ['Year'] = 2018

income_2018_df_final = income_2018_df_cleaned[[
    'Year',
    'State',
    'Geo ID',
    'State ID',
    'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
]]

income_2018_df_final = income_2018_df_final.loc[:, ~income_2018_df_final.columns.duplicated()]

income_2018_df_final

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2018,Wisconsin,0400000US55,55,60773
1,2018,Wyoming,0400000US56,56,61584
2,2018,Mississippi,0400000US28,28,44717
3,2018,Missouri,0400000US29,29,54478
4,2018,Montana,0400000US30,30,55328
5,2018,Nebraska,0400000US31,31,59566
6,2018,Nevada,0400000US32,32,58646
7,2018,New Hampshire,0400000US33,33,74991
8,2018,New Jersey,0400000US34,34,81740
9,2018,New Mexico,0400000US35,35,47169
10,2018,New York,0400000US36,36,67844
11,2018,North Carolina,0400000US37,37,53855
12,2018,North Dakota,0400000US38,38,63837
13,2018,Ohio,0400000US39,39,56111
14,2018,Oklahoma,0400000US40,40,51924
15,2018,Oregon,0400000US41,41,63426
16,2018,Pennsylvania,0400000US42,42,60905
17,2018,Rhode Island,0400000US44,44,64340
18,2018,South Carolina,0400000US45,45,52306
19,2018,South Dakota,0400000US46,46,56274
20,2018,Tennessee,0400000US47,47,52375
21,2018,Texas,0400000US48,48,60629
22,2018,Vermont,0400000US50,50,60782
23,2018,Utah,0400000US49,49,71414
24,2018,Virginia,0400000US51,51,72577
25,2018,Washington,0400000US53,53,74073
26,2018,West Virginia,0400000US54,54,44097
27,2018,Alabama,0400000US01,01,49861
28,2018,Alaska,0400000US02,02,74346
29,2018,Arizona,0400000US04,04,59246
30,2018,Arkansas,0400000US05,05,47062
31,2018,California,0400000US06,06,75277
32,2018,Colorado,0400000US08,08,71953
33,2018,Delaware,0400000US10,10,64805
34,2018,District of Columbia,0400000US11,11,85203
35,2018,Connecticut,0400000US09,09,76348
36,2018,Florida,0400000US12,12,55462
37,2018,Georgia,0400000US13,13,58756
38,2018,Idaho,0400000US16,16,55583
39,2018,Hawaii,0400000US15,15,80212
40,2018,Illinois,0400000US17,17,65030
41,2018,Indiana,0400000US18,18,55746
42,2018,Iowa,0400000US19,19,59955
43,2018,Kansas,0400000US20,20,58218
44,2018,Kentucky,0400000US21,21,50247
45,2018,Louisiana,0400000US22,22,47905
46,2018,Maine,0400000US23,23,55602
47,2018,Maryland,0400000US24,24,83242
48,2018,Massachusetts,0400000US25,25,79835
49,2018,Michigan,0400000US26,26,56697
50,2018,Minnesota,0400000US27,27,70315

In [6]:
income_2019_json = requests.get(income_2019_url).json()

income_2019_df = pd.DataFrame(requests.get(income_2019_url).json()[1:], columns=requests.get(income_2019_url).json()[0])

income_2019_df_cleaned = income_2019_df.rename(columns={
    'NAME': 'State',
    'GEO_ID': 'Geo ID',
    'state': 'State ID',
    'B19013_001E': 'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
})

income_2019_df_cleaned ['Year'] = 2019

income_2019_df_final = income_2019_df_cleaned[[
    'Year',
    'State',
    'Geo ID',
    'State ID',
    'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
]]

income_2019_df_final = income_2019_df_final.loc[:, ~income_2019_df_final.columns.duplicated()]

income_2019_df_final

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2019,Mississippi,0400000US28,28,45792
1,2019,Missouri,0400000US29,29,57409
2,2019,Montana,0400000US30,30,57153
3,2019,Nebraska,0400000US31,31,63229
4,2019,Nevada,0400000US32,32,63276
5,2019,New Hampshire,0400000US33,33,77933
6,2019,New Jersey,0400000US34,34,85751
7,2019,New Mexico,0400000US35,35,51945
8,2019,New York,0400000US36,36,72108
9,2019,North Carolina,0400000US37,37,57341
10,2019,North Dakota,0400000US38,38,64577
11,2019,Ohio,0400000US39,39,58642
12,2019,Oklahoma,0400000US40,40,54449
13,2019,Oregon,0400000US41,41,67058
14,2019,Pennsylvania,0400000US42,42,63463
15,2019,Rhode Island,0400000US44,44,71169
16,2019,South Carolina,0400000US45,45,56227
17,2019,South Dakota,0400000US46,46,59533
18,2019,Tennessee,0400000US47,47,56071
19,2019,Texas,0400000US48,48,64034
20,2019,Vermont,0400000US50,50,63001
21,2019,Utah,0400000US49,49,75780
22,2019,Virginia,0400000US51,51,76456
23,2019,Washington,0400000US53,53,78687
24,2019,West Virginia,0400000US54,54,48850
25,2019,Wisconsin,0400000US55,55,64168
26,2019,Wyoming,0400000US56,56,65003
27,2019,Illinois,0400000US17,17,69187
28,2019,Georgia,0400000US13,13,61980
29,2019,Idaho,0400000US16,16,60999
30,2019,Hawaii,0400000US15,15,83102
31,2019,Indiana,0400000US18,18,57603
32,2019,Iowa,0400000US19,19,61691
33,2019,Kansas,0400000US20,20,62087
34,2019,Kentucky,0400000US21,21,52295
35,2019,Louisiana,0400000US22,22,51073
36,2019,Maine,0400000US23,23,58924
37,2019,Maryland,0400000US24,24,86738
38,2019,Massachusetts,0400000US25,25,85843
39,2019,Michigan,0400000US26,26,59584
40,2019,Minnesota,0400000US27,27,74593
41,2019,Connecticut,0400000US09,09,78833
42,2019,Florida,0400000US12,12,59227
43,2019,Alabama,0400000US01,01,51734
44,2019,Alaska,0400000US02,02,75463
45,2019,Arizona,0400000US04,04,62055
46,2019,Arkansas,0400000US05,05,48952
47,2019,California,0400000US06,06,80440
48,2019,Colorado,0400000US08,08,77127
49,2019,Delaware,0400000US10,10,70176
50,2019,District of Columbia,0400000US11,11,92266

In [7]:
income_2021_json = requests.get(income_2021_url).json()

income_2021_df = pd.DataFrame(requests.get(income_2021_url).json()[1:], columns=requests.get(income_2021_url).json()[0])

income_2021_df_cleaned = income_2021_df.rename(columns={
    'NAME': 'State',
    'GEO_ID': 'Geo ID',
    'state': 'State ID',
    'B19013_001E': 'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
})

income_2021_df_cleaned ['Year'] = 2021

income_2021_df_final = income_2021_df_cleaned[[
    'Year',
    'State',
    'Geo ID',
    'State ID',
    'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
]]

income_2021_df_final = income_2021_df_final.loc[:, ~income_2021_df_final.columns.duplicated()]

income_2021_df_final

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2021,Alabama,0400000US01,01,53913
1,2021,Arizona,0400000US04,04,69056
2,2021,Arkansas,0400000US05,05,52528
3,2021,California,0400000US06,06,84907
4,2021,Colorado,0400000US08,08,82254
5,2021,Connecticut,0400000US09,09,83771
6,2021,Delaware,0400000US10,10,71091
7,2021,District of Columbia,0400000US11,11,90088
8,2021,Florida,0400000US12,12,63062
9,2021,Georgia,0400000US13,13,66559
10,2021,Hawaii,0400000US15,15,84857
11,2021,Idaho,0400000US16,16,66474
12,2021,Illinois,0400000US17,17,72205
13,2021,Indiana,0400000US18,18,62743
14,2021,Iowa,0400000US19,19,65600
15,2021,Kansas,0400000US20,20,64124
16,2021,Kentucky,0400000US21,21,55573
17,2021,Louisiana,0400000US22,22,52087
18,2021,Maine,0400000US23,23,64767
19,2021,Maryland,0400000US24,24,90203
20,2021,Massachusetts,0400000US25,25,89645
21,2021,Michigan,0400000US26,26,63498
22,2021,Minnesota,0400000US27,27,77720
23,2021,Mississippi,0400000US28,28,48716
24,2021,Missouri,0400000US29,29,61847
25,2021,Montana,0400000US30,30,63249
26,2021,Nebraska,0400000US31,31,66817
27,2021,Nevada,0400000US32,32,66274
28,2021,New Hampshire,0400000US33,33,88465
29,2021,New Jersey,0400000US34,34,89296
30,2021,New Mexico,0400000US35,35,53992
31,2021,New York,0400000US36,36,74314
32,2021,North Carolina,0400000US37,37,61972
33,2021,North Dakota,0400000US38,38,66519
34,2021,Ohio,0400000US39,39,62262
35,2021,Oklahoma,0400000US40,40,55826
36,2021,Oregon,0400000US41,41,71562
37,2021,Pennsylvania,0400000US42,42,68957
38,2021,Rhode Island,0400000US44,44,74008
39,2021,South Carolina,0400000US45,45,59318
40,2021,South Dakota,0400000US46,46,66143
41,2021,Tennessee,0400000US47,47,59695
42,2021,Texas,0400000US48,48,66963
43,2021,Utah,0400000US49,49,79449
44,2021,Vermont,0400000US50,50,72431
45,2021,Virginia,0400000US51,51,80963
46,2021,Washington,0400000US53,53,84247
47,2021,West Virginia,0400000US54,54,51248
48,2021,Wisconsin,0400000US55,55,67125
49,2021,Wyoming,0400000US56,56,65204
50,2021,Alaska,0400000US02,02,77845

In [8]:
income_2022_json = requests.get(income_2022_url).json()

income_2022_df = pd.DataFrame(requests.get(income_2022_url).json()[1:], columns=requests.get(income_2022_url).json()[0])

income_2022_df_cleaned = income_2022_df.rename(columns={
    'NAME': 'State',
    'GEO_ID': 'Geo ID',
    'state': 'State ID',
    'B19013_001E': 'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
})

income_2022_df_cleaned ['Year'] = 2022

income_2022_df_final = income_2022_df_cleaned[[
    'Year',
    'State',
    'Geo ID',
    'State ID',
    'Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)',
]]

income_2022_df_final = income_2022_df_final.loc[:, ~income_2022_df_final.columns.duplicated()]

income_2022_df_final

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2022,Alabama,0400000US01,01,59674
1,2022,Alaska,0400000US02,02,88121
2,2022,Arizona,0400000US04,04,74568
3,2022,Arkansas,0400000US05,05,55432
4,2022,California,0400000US06,06,91551
5,2022,Colorado,0400000US08,08,89302
6,2022,Connecticut,0400000US09,09,88429
7,2022,Delaware,0400000US10,10,82174
8,2022,District of Columbia,0400000US11,11,101027
9,2022,Florida,0400000US12,12,69303
10,2022,Georgia,0400000US13,13,72837
11,2022,Hawaii,0400000US15,15,92458
12,2022,Idaho,0400000US16,16,72785
13,2022,Illinois,0400000US17,17,76708
14,2022,Indiana,0400000US18,18,66785
15,2022,Iowa,0400000US19,19,69588
16,2022,Kansas,0400000US20,20,68925
17,2022,Kentucky,0400000US21,21,59341
18,2022,Louisiana,0400000US22,22,55416
19,2022,Maine,0400000US23,23,69543
20,2022,Maryland,0400000US24,24,94991
21,2022,Massachusetts,0400000US25,25,94488
22,2022,Michigan,0400000US26,26,66986
23,2022,Minnesota,0400000US27,27,82338
24,2022,Mississippi,0400000US28,28,52719
25,2022,Missouri,0400000US29,29,64811
26,2022,Montana,0400000US30,30,67631
27,2022,Nebraska,0400000US31,31,69597
28,2022,Nevada,0400000US32,32,72333
29,2022,New Hampshire,0400000US33,33,89992
30,2022,New Jersey,0400000US34,34,96346
31,2022,New Mexico,0400000US35,35,59726
32,2022,New York,0400000US36,36,79557
33,2022,North Carolina,0400000US37,37,67481
34,2022,North Dakota,0400000US38,38,71970
35,2022,Ohio,0400000US39,39,65720
36,2022,Oklahoma,0400000US40,40,59673
37,2022,Oregon,0400000US41,41,75657
38,2022,Pennsylvania,0400000US42,42,71798
39,2022,Rhode Island,0400000US44,44,81854
40,2022,South Carolina,0400000US45,45,64115
41,2022,South Dakota,0400000US46,46,69728
42,2022,Tennessee,0400000US47,47,65254
43,2022,Texas,0400000US48,48,72284
44,2022,Utah,0400000US49,49,89168
45,2022,Vermont,0400000US50,50,73991
46,2022,Virginia,0400000US51,51,85873
47,2022,Washington,0400000US53,53,91306
48,2022,West Virginia,0400000US54,54,54329
49,2022,Wisconsin,0400000US55,55,70996
50,2022,Wyoming,0400000US56,56,70042

In [12]:
combined_income_df = pd.concat([income_2022_df_final,
                                income_2021_df_final,
                                income_2019_df_final,
                                income_2018_df_final,
                                income_2017_df_final],
                               axis=0)

combined_income_df.reset_index(drop=True, inplace=True)

combined_income_df

,Year,State,Geo ID,State ID,Median Household Income in the Past 12 Months (in Inflation-Adjusted Dollars)
0,2022,Alabama,0400000US01,01,59674
1,2022,Alaska,0400000US02,02,88121
2,2022,Arizona,0400000US04,04,74568
3,2022,Arkansas,0400000US05,05,55432
4,2022,California,0400000US06,06,91551
...,...,...,...,...,...
250,2017,Maine,0400000US23,23,56277
251,2017,Maryland,0400000US24,24,80776
252,2017,Massachusetts,0400000US25,25,77385
253,2017,Michigan,0400000US26,26,54909
254,2017,Minnesota,0400000US27,27,68388

In [10]:
family_size_df = pd.DataFrame(requests.get(family_size_url).json()[1:], columns=requests.get(family_size_url).json()[0])